<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: rgb(129, 233, 33)">Employee Database</h1>

		<body bgcolor="white">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: yellowgreen; height: 45px; width: 200px; color:rgb(5, 5, 5); font:bold;">GET EMPLOYEE INFORMATION</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:turquoise;" type="number" name="emp_id" autofocus size="40"><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:turquoise;" type="text" name="first_name" ><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:turquoise;" type="text" name="last_name"><br>

		  		Primary Skills:<br> <input style="height:25px;font-size:14pt;color:turquoise;" type="text" name="pri_skill"><br>

		  		Location:<br> <input style="height:25px;font-size:14pt;color:turquoise;" type="text" name="location"><br>

		  		Image:<br> <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:turquoise;"><br><br>

		  		<button type="submit" style="background: yellowgreen; height: 45px; width: 200px; color: rgb(19, 18, 18); size: 5; font:bold;">ADD TO DATABASE</button>

			</form>
<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>
